@charset "UTF-8";

#h {
	text-align: center;
	color: gray;
	font-size: 30px;
	font-weight: 600;
	margin-top: 10px;
	margin-bottom: 10px;
}

#lrm {
	width: 50%;
	margin-top: 50px;
	text-align: center;
}

#lrt {
	height: 100%;
	width: 30%;
	margin-left: 67%;
}

#bt {
	padding-top: 5%;
}

#border {
	border: 1px solid gray;
	display: inline-block;
	width: 50%;
	margin-right: 25%;
	margin-left: 25%;
	padding-bottom: 10%;
}
#back ,#writing{
	border: 1px solid;
}
.input {
	margin-bottom:20px;
	width: 300px;
}