@charset "UTF-8";

#h {
	text-align: center;
	color: gray;
	font-size: 30px;
	font-weight: 600;
	margin-top: 10px;
	margin-bottom: 10px;
}
#border {
	border: 1px solid gray;
	display: inline-block;
	width: 50%;
	margin-right: 25%;
	margin-left: 25%;
	padding-bottom: 10%;
}
#lrm {
	width: 50%;
	margin-top: 50px;
	text-align: center;
}

#lrt {
	height: 100%;
	width: 30%;
	margin-left: 70%;
}
#bt {
	padding-top: 5%;
}
#back ,#writing{
	border: 1px solid;
}
#id, #password, #name {
	margin-bottom:20px;
	width: 300px;
}
#phone1{
	width:50px;
}
#phone2, #phone3{
	width: 60px;
}
#email1{
	width:120px;
}
#email2{
	width: 70px;
}
#email3{
	width: 60px;
}
.1{
width: 10px;
}
.2{
width: 10px;
}