@charset "UTF-8";

#title{
	text-align:center;
	color: gray;
}

#list {
	width: 40%;
	margin-left: 30%;
	text-align: center;
}

#top_tr {
	background-color: skyblue;
}
td{
	border-bottom: 1px solid gray;
}